        <header>
            <div style="text-align:center">
                 <div class="container">    
                    <div id="header-under-left" class="header-posts underlogo-left"> <a href="/posts"><i class="fas fa-book"></i> Posts </a> </div>
                    <!-- if !logged in --> 
                    {{#if loggedin }}
                        <div id="header-under-right" class="header-posts underlogo-right"><a href="/login">Log in <i class="fas fa-sign-in-alt"></i>  </a> </div>
                        <!-- else -->
                    {{else}}
                     <div id="header-under-right" class="header-posts underlogo-right"><a href="/home"> Home <i class="fas fa-home"></i> </a></div>
                    {{/if}}
                    <!-- endif--> 
                    <div class="logo-container-container">
                        <div id="logo-container" class="logo-container">
                            <img src="images/logo.png" >
                        </div>
                    </div>
                </div>
            </div>
        </header>
            
    <script>
        loadHeader()    
    </script>