<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0">

        
    <!--- Header includes ---> 
        <script src="js/header.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index1.css">
    <!---                 --->

        

        
    <!--- Font awesome, icons, jquery --->
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!---                    --->
        
        <title> Meditations on Final Philosophy </title>        
    
    </head>
    
    <body>

    
        
    <!---  FOR POSTS ---->
        
    {{{ body }}}
    
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>




</html>